In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [36]:
dataset = pd.read_csv('movies-1990on.csv')

In [40]:
dataset

,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
0,2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380,42195766,2013FAIL,13000000,25682380,42195766,1,1
1,2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714,40868994,2012PASS,45658735,13611086,41467257,1,1
2,2013,tt2024544,12 Years a Slave,notalk-disagree,notalk,FAIL,20000000,53107035,158607035,2013FAIL,20000000,53107035,158607035,1,1
3,2013,tt1272878,2 Guns,notalk,notalk,FAIL,61000000,75612460,132493015,2013FAIL,61000000,75612460,132493015,1,1
4,2013,tt0453562,42,men,men,FAIL,40000000,95020213,95020213,2013FAIL,40000000,95020213,95020213,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,1990,tt0100403,Predator 2,men,men,FAIL,35000000,28317513,54768418,1990FAIL,62404139,50489429,97650742,5,3
1596,1990,tt0100405,Pretty Woman,ok,ok,PASS,14000000,178406268,432645872,1990PASS,24961656,318093987,771396947,5,3
1597,1990,tt0099810,The Hunt for Red October,notalk,notalk,FAIL,30000000,120709866,200500000,1990FAIL,53489262,215222722,357486568,5,3
1598,1990,tt0100802,Total Recall,notalk,notalk,FAIL,125000000,58877969,198615996,1990FAIL,222871925,104977970,354127435,5,3
1599,1990,tt0100814,Tremors,ok,ok,PASS,10000000,16667084,16667084,1990PASS,17829754,29717001,29717001,5,3

In [43]:
for i in range (0, len(dataset)):
    if (dataset.iloc[i,4].find('dubious')!=-1):
        dataset.iloc[i,5] = 'PASS'
        print(dataset.iloc[i,5])

PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS
PASS

In [45]:
dataset.to_csv('movies-1990on_dub.csv')